html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #3a2bf0 0%, #46e6e8 100%);
  min-height: 100vh;
}